html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

:root {
  --main-color: ;
}

.container {
  padding: 25px;
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  transform: translateX(-150%);
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  background-color: rgba( 0, 0, 0, 0.85);
}

.open {
  transform: translateX(0);
}

.form {
  margin: 0 auto;
  flex-direction: column;
  width: 50%;
}

.form > .form__inp {
  width: 75%;
}

.form__inp {
  position: relative;
  transition: background-color 0.8s ease-in-out;
}

.block::before {
  opacity: 0;
  transition: opacity 2.7s ease-in-out;
}

.block.error::before {
  position: absolute;
  content: "✖";
  top: 50%;
  right: -20px;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  color: red;
  text-align: center;
  opacity: 1;
  transform: translateY(-50%);
}

.valid::before {
  position: absolute;
  content: "✓";
  top: 50%;
  right: -20px;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  color: red;
  text-align: center;
  opacity: 1;
  transform: translateY(-50%);
}


.error .span-error {
  font-weight: bold;
  color: red;
}

.error::-webkit-input-placeholder {
  font-weight: bold;
  color: white;
}

.error::-moz-placeholder {
  color: white;
}

.error:-ms-input-placeholder {
  color: white;
}

.error::-ms-input-placeholder {
  color: white;
}

.error::placeholder {
  color: white;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.form-label {
  color: white;
}

.span-error {
  position: absolute;
  left: 15px;
  bottom: -21px;
}

.btn__add {
  display: block;
  margin: 0 auto;
  margin-bottom: ;
}

